body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

.none {
  display: none !important;
}

a {
    text-decoration: none;
    color:black;
}
a:active,
a:visited,
a:focus {
    color:black
}

.active span {
  color: #C4F8FF !important;
}

.active {
  font-weight: bold;
  text-decoration: underline;
  color: #EBFDFF !important;
}

.formattext {
    /* margin-left: 30px; */
    margin-left: 10%;
    margin-right: 10%;
}

.format_about {
    margin-left: 10px;
    margin-right: 10px;
}
.format_about p {
  text-align: justify;
  padding: 0 12px;
  text-indent: 20px;
}
.format_about ul {
  text-align: initial;
}

.select_box {
    padding: 11px 31px;
    border: 1px solid #ebebeb;
    color: #555;
    font-family: 400 13.3333px Roboto;
}



.red_tag {
    background: #F44336;
    color: #fff;
    padding: 10px;
}

header {
    padding-top: 5px;
    /* background: #00BCD4; */
    position: relative;
    /* background-image: linear-gradient(to right, #0495a8 , #00BCD4); */
    background-image: linear-gradient(to bottom right, #0495a8, #00BCD4);
}

header .logo {
    text-align: center;
    font-size: 30px;
    font-family: 'Ranga', cursive;
    color: #ffffff;
    border-bottom: 6px solid #0495a8;
    display: block;
}

header .open_nav {
    position: absolute;
    left:0px;
}


header .navItem {
    font-weight: 300;
    font-size: 12px;
    color:#bababa;
    padding:10px;
    border-top: 1px solid #404040;
}

header .navItem a {
    color:inherit;
    text-decoration: none;
}

header .navItem span {
    color:white;
    margin-right:10px;
}

.book_item {
    border-bottom: 4px solid #f1f1f1;
    box-sizing: border-box;
    padding: 10px 20px;
    display: block;
    background: #f5f5f578;
    /*test*/
    height: 106px;
}

.book_item .book_header h2 {
    font-size: 20px;
    color: #686868;
    margin: 4px 0px 0px 0px;
    font-weight: 300;
}


.book_item .book_bubble {
    background: #E91E63;
    display: inline-block;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 11px;
    margin-right: 5px;
    color: #fff !important;
}

.book_item .book_bubble.rating {
    background: #5f5f5f;
    //color: #fff;
}

.book_item .book_author {
    font-size: 15px;
    color: #5f5f5f;
    font-weight: 700;
}

.book_item .book_items {
    font-size:13px;
}

.book_item .book_items strong { 
    color: #ffffff;
}
.book_item .book_items div {
    margin-bottom: 8px;
}

.loadmore {
    background: #dbdbdb;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px;
    font-weight: 500;
    cursor: pointer;
}

/*=============================
            REGISTER
===============================*/

.rl_container {
    text-align: center;
    margin-bottom: 10px;
}

.rl_container .form_element {
    margin-top: 20px;
}

.rl_container .form_element_checkbox {
    display: inline-block;
    /*height: 40px;*/
}
/*.rl_container input*/
input.element_checkbox {
  display: block;
  height: 20px;
  /*margin: 4px 20px;*/
  margin: 0px 20px -2px 20px;
}


.rl_container h2 {
    font-size: 33px;
    font-weight: 300;
    color: #02bcd4;
}

.rl_container input {
    font-size: 20px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    padding: 11px 31px;
    background: #f7f7f7;
    font-weight: 300;
    width: 260px;
}
.rl_container.article input {
    width: 80%;
}

.rl_container.article textarea {
    background: #f7f7f7;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    font-size: 14px;
}
.rl_container.article select {
    width: 80%;
    background: #f7f7f7;
    font-size: 20px;
    border: 1px solid #e1e1e1;
}

.rl_container button {
    font-size: 20px;
    padding: 10px 52px;
    background: #02bcd4;
    color: #fff;
    font-weight: 300;
    border-radius: 3px;
    border: none;
    margin-top: 20px;
    width: 260px;
}
.rl_container.article button {
    width: 80%;
}

.rl_container .conf_link {
    color: #8BC34A;
    font-weight: 600;
    margin-top: 20px;
}

.rl_container .error {
    color: #FF5722;
    margin-top: 10px;
    font-weight: 600;
}

.rl_container .success a {
    color: #FF5722;
    font-size: 20px;
}

.rl_container .delete_post {
    text-align: center;
    margin-top: 20px;
}

.rl_container .delete_post .button {
    font-size: 20px;
    padding: 10px 52px;
    background: #E91E63;
    color: #fff;
    font-weight: 300;
    border-radius: 3px;
    border: none;
    width: 80%;
    box-sizing: border-box;
    display: inline-block;
}

.qrReader {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
/*     font-size: 20px;
padding: 10px 52px;
background: #02bcd4;
color: #fff;
font-weight: 300;
border-radius: 3px;
border: none;
margin-top: 20px;
width: 260px; */
}
.qr {
  max-width: 400px;
}

.qr {
  /* margin-top: 20px; */
  width: 80%;
}

.warning-msg{
  display: block;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d8d8d8;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #d8d8d8;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #d8d8d8;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #d8d8d8;
  }

/*=============================
            USER
===============================*/
    .user_posts {
        padding:10px;
        box-sizing: border-box;
    }

    .edit_confirm {
        background: #8BC34A;
        color: #fff;
        padding: 10px 0px;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

  .user_container .avatar {
    text-align: center;
    margin-top: 30px;
  }
  .user_container .avatar img {
    width: 270px;
  }
  .user_container .nfo{
    box-sizing: border-box;
    padding:20px;
  }
  .user_container .nfo div {
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #a4a4a4;
  }
  .user_container .nfo div span { 
    font-weight: 500;
    color: #02bcd4;
  }

  .user_container .none-nfo div {
   /* font-size: 15px ;*/
    font-size: 11px ;
    font-weight: 100 ;
    margin-bottom: 0px ;
  }

  .user_container .none-nfo div span { 
    font-weight: 500;
    color: #02bcd4;
  }
  .book_author {
    font-size: 15px !important;
  }
/*  .none-nfo > .book_bubble div {
    margin-bottom: 0px ;
    color: blue;
    background: blue !important;
  }
 .book_bubble div{
     color: red;
     background: blue !important;
  }

  .book_header {
    display:block;
  }
  .book_items {
    display:block;
  }*/

/*=============================
            POST
===============================*/

.br_container {
    box-sizing: border-box;
    padding:20px;
}

.br_container .br_header {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 20px;
}

.br_container .br_header h2{
    font-weight: 300;
    font-size: 38px;
    margin: 0px;
}
.br_container .br_header h5{
    margin: 5px 0px;
    font-size: 31px;
    color: #02bcd4;
}

.br_container .br_header .br_reviewer {
    font-size: 12px;
    margin-bottom: 10px;
}
.br_container .br_header .br_reviewer span {
    font-weight: 500;
}

.br_container .br_review {
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
}

.br_container .br_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.br_container .br_box .left {
    min-width: 50%;
    background: #E91E63;
    color: #fff;
    box-sizing: border-box;
    padding: 15px;
    font-weight: 300;
    font-size: 20px;
}
.br_container .br_box .left div {
    padding: 7px;
    box-sizing: border-box;
}
.br_container .br_box .left div span { 
    font-weight: 700
}

.br_container .br_box .right {
    flex-grow: 1;
    height: 106px;
    background: #3c3c3c;
    color: #fff;
    font-weight: 700;
    padding: 21px 15px;
    box-sizing: border-box;
    text-align: center;
}
.br_container .br_box .right div {
    font-size: 40px;
    font-weight: 300;
}

.logout_container h1{
    color: #02bcd4;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    padding-top: 31px;
}

/*=============================
            PROFILE 
===============================*/

.profile_checkbox{
  /* padding: 10px 10px !important; */
/*   height: 20px; */
  min-width: 30px;
  min-height: 20px;
}

.profile_table {
  width: 80%;
  margin: 20px auto 0;
}

/*=============================
            MORE CSS
===============================*/
img {
  border-radius: 20px;
  /* display:inline-block !important; */
  /* text-align: center; */
  /* padding: 0 auto ; */
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  /* background-image: linear-gradient(to right, #0495a8 , #00BCD4); */
/*   min-width: 200px;
min-height: 200px; */
}

.formatImg {
  margin: 0 auto ; 
  text-align:center;
}

.formatImg2 {
  float: left;
  width: 86px;
  height: 86px;
/*   max-width: 100px;
max-height: 100px; */
/*   margin-left: 0; 
margin-right: 10px;  */
  margin: 0 10px 0 0 ;  
  text-align:center;
}

/*=============================
            LOADER
===============================*/


.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
    color: #ebebeb;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.trouble {
    background: #E91E63; // 
    font-size: 10px;
    padding: 10px 52px;
    color: #fff !important;
    //font-weight: 300;
    border-radius: 30px;
    border: none;
    margin: auto;
    margin-top: 20px;
    width: 160px;
}

.okey {
    font-size: 10px;
    padding: 10px 52px;
    background: #8BC34A;
    color: #fff !important;
    //font-weight: 300;
    border-radius: 30px;
    border: none;
    margin: auto;
    margin-top: 20px;
    width: 160px;
}

.footer {
  flex: 0 0 auto;
  height: 50px;
  //margin-top: 0px;
  background:#00798A;
  display: flex;
  padding: 6px;
  justify-content: space-around;
  font: 400 13.3333px Arial;
  color: #69DAEA;
}

.footer__sub1 {
  margin-left:10px;
  margin-right: 20px;
}

.footer__sub1__text {
  color: #69DAEA !important;
}

.fixed {
  margin-bottom: 200px;
}

.fixCell {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10vw;
}